body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12pt;
  background-color: #F8F8F8;

}

/* SELETOR UNIVERSAL*/

* {
  margin: 0;
  padding: 0;
}

/*  FIM SELETOR UNIVERSAL*/

/*  GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');
/*  FIM GOOGLE FONTS */